.sidebar-credits{
    font-size: .6rem; /* 15px */
}

.sidebar-logo {
      padding: 0px;
}
.sidebar-logo img {
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      width: 160px;
      margin: 0 auto;
}
