.sidebar-credits{
    font-size: .6rem; /* 15px */
}

.sidebar-logo {
      padding: 0px;
}
.sidebar-logo{
  background-image: url("https://rami-codes.github.io/assets/images/logo.jpg")
  width: 14rem;
  height: 100px;
  background-position: center;
  background-size: cover;
}
